node_modules
recipes
.envrc
recipes-docx
recipes-txt
recipes-txt-old
recipes-extracted
recipes-json
recipes-imported
.DS_Store
product.csv
search-results
failed-products.json
product-qty-unit
product-no-qty-unit
products-no-items.json
product-qty-unit*
product-no-qty*